.mail-list {
  height: calc(100vh - 100px);
}
.mail-list-row {
  cursor: pointer;
}
.mail-list-row:nth-child(odd) {
  background: #333;
}
.mail-icon {
  width: 32px;
  height: 32px;
  background: url('../../assets/images/mail-icon.png');
}

@media (max-width:767px) {
  .mail-list {
    height: auto;
  }
}