.users-list {
  height: calc(100vh - 100px);
}
.users-list-row {
  cursor: pointer;
}
.users-list-col {
  vertical-align: middle !important;
}

@media (max-width:767px) {
  .users-list {
    height: auto;
  }
}