.content {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  overflow: auto;
}
.navbar-logo {
  float: left;
  margin-left: 0;
}
.navbar-logo-icon {
  vertical-align: middle;
}
.navbar-brand {
  font-size: 18px;
  margin-left: 5px;
}
.navbar-exit {
  float: right;
  line-height: 50px;
}